{% extends 'base.html' %}
{% load static %}
{% block title %}Article::Index{% endblock title %}

{% block container %}
<h2>Article List</h2>
<a href="{% url 'articles:create' %}">[생성하기]</a>
{% csrf_token %}
<hr>
{% for article in articles %}
<div>
  <h3>{{ article.pk }}. {{ article.title }}</h3>
  {% comment %} articles라는 앱에서 detail이라는 이름의 url을 불러와라 article.pk:detail url에 필요하기때문에 뒤에 붙여준다. {% endcomment %}
  <a href="{% url 'articles:detail' article.pk %}">[상세보기]</a>
</div>
<br>
{% endfor %}
{% endblock container %}