<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  {% comment %} base.html용도: 다른 곳에서도 불러와서 쓰자
  {% block title %}{% endblock title %}: 매번 쓰일 때 우리가 설정가능!
                                         없다면, html만들때마다 동일한 타이틀이 나옴
  {% endcomment %}
</head>
<body>
  <header>
    <h1>저희 페이지에 오신 것을 환영합니다~</h1>
    {% if user.is_authenticated %}
    {% comment %} user: template가 기본적으로 가지고있는 정보라 사용가능! {% endcomment %}
    <p>
      {% comment %} span : 의미를 부여하는 테그 {% endcomment %}
      <span>Hello, {{ user.username }}</span>
      <a href="{% url 'accounts:logout' %}">[로그아웃]</a>
      <form action="{% url 'accounts:delete' %}" method="post">
        {% csrf_token %}
        <button type="submit">[회원 탈퇴]]</button>
      </form>
    </p>

    {% else %}
    <p>
      <a href="{% url 'accounts:login' %}">[로그인]</a>
      <a href="{% url 'accounts:signup' %}">[회원가입]</a>
    </p>


    {% endif %}
    <a href="{% url 'articles:index' %}">[목록]</a>
    {% comment %} app_name: 경로이름(urls.py의 name) {% endcomment %}
    <hr>
  </header>
  {% block container %}{% endblock container %}
</body>
</html>
