<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  {% comment %} base.html용도: 다른 곳에서도 불러와서 쓰자
  {% block title %}{% endblock title %}: 매번 쓰일 때 우리가 설정가능!
                                         없다면, html만들때마다 동일한 타이틀이 나옴
  {% endcomment %}
</head>
<body>
  <header>
    <h1>저희 페이지에 오신 것을 환영합니다~</h1>
    <a href="{% url 'articles:index' %}">[목록]</a>
    {% comment %} app_name: 경로이름(urls.py의 name) {% endcomment %}
    <hr>
  </header>
  {% block container %}{% endblock container %}
</body>
</html>